.DS_Store
.vscode
.idea

node_modules
dist
build
coverage
artifacts

*.log
*.sublime-project
*.sublime-workspace

.env
.nyc_output

test/__app
bench/results.json
package-lock.json
yarn.lock
shrinkwrap.yaml
